.country_banner .seize{
    height: 0;
    position: relative;
    font-size: 0;
    padding-bottom: 26.66%;
    overflow: hidden;
}

.country_banner .seize img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}