.headerFixed {
    position: fixed;
    top: 0;
    z-index: 995;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    max-width: 53.33333rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #fff;
    padding: 0 1.25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.search_title {
    display: block;
    margin-left: 20px;
    background-color: #f5f5f5;
    height: 28px;
    border-radius: 4px;
    position: relative;
    top: 11px;
    line-height: 28px;
    text-align: left;
    color: #7f7f7f;
    font-size: 12px;
    padding-left: 6.5px;
}

.title_box {
    display: inline-block;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header .icon{
    float: left;
    margin-right:-20px;
    font-size: 1.3rem !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 2.2rem !important;
    color: #888;
    width: 4rem;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}