.all_nav[data-v-08814b0b] {
    position: absolute;
    margin: 0 -8.33333rem;
    font-size: 1.41667rem;
    width: 16.66667rem;
    left: 50%;
}

.all_nav ul li.on[data-v-08814b0b] {
    font-size: 1.5rem;
}

.all_nav ul li[data-v-08814b0b] {
    float: left;
    padding: 0 1.25rem;
    width: 5.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.all_nav .buoy[data-v-08814b0b] {
    position: absolute;
    top: 3.75rem;
    left: 0px;
    height: 3px;
    background-color: #4ed6d1;
    width: 46px;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0.83333rem;
}

.header .new_right[data-v-7e84d4c2] {
    position: absolute;
    right: 0;
    display: block;
    height: 4rem;
}

.header .new_right .hearder_more[data-v-7e84d4c2] {
    position: absolute;
    background: black;
    right: 0.83333rem;
    width: 9.58333rem;
    height: 12rem;
    opacity: .7;
    z-index: 100;
}

.header .new_right .hearder_more .header_triangle[data-v-7e84d4c2] {
    position: absolute;
    top: -0.58333rem;
    right: 0.83333rem;
    width: 1.16667rem;
    height: 1.16667rem;
    background: black;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header .new_right .hearder_more .floating_cont[data-v-7e84d4c2] {
    height: 12rem;
    overflow: hidden;
    width: 100%;
}

.header .new_right .hearder_more .floating_cont ul li[data-v-7e84d4c2] {
    width: 100%;
    position: relative;
    border-bottom: 1px solid white;
    text-align: left;
    font-size: 13px;
    overflow: hidden;
    padding-left: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    height:50px;
    clear:both;
}

.header .new_right .hearder_more .floating_cont ul li a[data-v-7e84d4c2] {
    display: block;
    color: #ffffff;
}

.header .new_right .hearder_more .floating_cont ul li i[data-v-7e84d4c2] {
    width: 4rem;
    text-align: center;
    color: #ffffff;
    float: left;
}