.tepin-subNav-zhangwei[data-v-26de577f], .group-navbar-zhangwei[data-v-26de577f] {
    height: 3.66667rem;
}

.navbar-sort[data-v-26de577f] {
    margin-top: 0;
}

.navbar-sort .navbar-sort-list[data-v-26de577f] {
    height: 3.66667rem;
}

.navbar-sort .navbar-sort-list .navbar-sort-item.on[data-v-26de577f] {
    color: #00bebf;
    font-weight: bold;
    display: inline-block;
}

.navbar-sort .navbar-sort-list .navbar-sort-item[data-v-26de577f] {
    display: inline-block;
    color: #333333;
    margin-right: 10%;
}

.navbar-sort .navbar-sort-list .navbar-sort-item[data-v-26de577f] {
    display: inline-block;
    color: #333333;
    margin-right: 10%;
}