
.contentbox{
    width: 100%;
    overflow: hidden;
}


.search_start  {
    width: 7.5rem;
    position: absolute;
    right: 0.83333rem;
    top: 0.83333rem;
    height: 2.33333rem;
    border-radius: 0.33333rem;
    background-color: #f3f3f3;
    line-height: 2.5rem;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.83333rem;
    color: #c5c5c5;
    font-size: 1.16667rem;
    text-align: left;
}
.search_start .icon_search {
    font-size: 1.33333rem !important;
    line-height: 2.5rem !important;
    width: 2.33333rem !important;
    color: #777777 !important;
    position: relative;
    left: -5px;
    text-align: center;
    top: -1px;
}
.search_start .icon_search {
    margin-top: 0;
}

.country_banner .seize{
    height: 0;
    position: relative;
    font-size: 0;
    padding-bottom: 26.66%;
    overflow: hidden;
}

.country_banner .seize img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.country_nav_all {
    border-bottom: 9px solid #F0F0F0;
}
.country_nav_all ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #dddddd;
    margin: 0 -0.16667rem;
}
.country_nav_all ul li {
    width: 33.33%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.16667rem;
}

.country_nav_all ul .seize {
    height: 0;
    position: relative;
    font-size: 0;
    padding-bottom: 69%;
    overflow: hidden;
}
.country_nav_all ul img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.country_nav_all ul p {
    height: 2.5rem;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin: -1.25rem 0;
    left: 0px;
    top: 50%;
    position: absolute;
    color: #ffffff;
    line-height: 30px;
}

.country_nav_position {
    position: relative;
    height: 3.66667rem;
}
.country_nav {
    height: 3.66667rem;
    line-height: 3.66667rem;
    width: 100%;
    background-color: #ffffff;
    z-index: 9;
}
.country_nav .country_nav_one {
    width: 100%;
    position: relative;
}

.country_nav .country_nav_one ul {
    white-space: nowrap;
}
.country_nav .country_nav_one ul li.on {
    color: #00bebf;
}
.country_nav .country_nav_one ul li {
    padding: 0 1.25rem;
    display: inline-block;
    text-align: center;
    margin-right: -3px;
    color: #222222;
    font-size: 1.25rem;
}
.country_nav .jiantou{
    width: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    padding-right: 1.25rem;
    background-image: url(https://static.xidibuy.com/m/static/global/images/1.0.0/jiantou_bg.png);
    background-size: 100% 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 3.66667rem;
}
.country_nav .jiantou .oall {
    position: absolute;
    left: 1.25rem;
    color: #a9a9a9;
    font-size: 1.25rem;
    display: none;
}

.country_nav .jiantou .icon {
    line-height: 3.66667rem;
}

.country_nav .country_nav_two{
    width: 100%;
    position: absolute;
    top: 3.66667rem;
    left: 0;
    z-index: 9999;
    visibility: hidden;
    font-size: 1.25rem;
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
}
.country_nav .country_nav_two ul {
    width: 100%;
    padding: 0 0 0.83333rem 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
.country_nav .country_nav_two ul li {
    width: 33.3%;
    display: inline-block;
    text-align: center;
    margin-right: -3px;
    color: #222222;
}
.country_nav .country_nav_two ul li.on{
    color: #00bebf;
}

.country_nav .country_nav_two.on {
    visibility: inherit;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.country_nav .country_nav_two {
    width: 100%;
    position: absolute;
    top: 3.66667rem;
    left: 0;
    z-index: 9999;
    visibility: hidden;
    font-size: 1.25rem;
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
}


.single_list_shop h1 {
    padding: 0.83333rem 0 1.66667rem 0;
    font-size: 1.41667rem;
    text-align: center;
    width: 100%;
}

.single_img {
    width: 100%;
    padding-bottom: 0.83333rem;
    overflow: hidden;
}
.single_img a {
    display: block;
}
.otepin .seize {
    height: 0;
    position: relative;
    font-size: 0;
    padding-bottom: 34.666%;
    overflow: hidden;
}
.otepin .seize img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.single_list_shop ul.product_list {
    margin-right: -1px;
    border-top: 1px solid #f3f3f3;
}

.single_list_shop ul.product_list .product_item {
    width: 50%;
    border-bottom: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.product_item .product_box {
    padding: 0.83333rem;
}
.product_item .product_box .product_img {
    height: 0;
    position: relative;
    font-size: 0;
    padding-bottom: 100%;
    overflow: hidden;
    text-align: center;
}
.product_item .product_box .product_img .product-sku {
    border: 1px solid #555555;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    width: 3.58333rem;
    height: 1.5rem;
    position: absolute;
    left: 0.41667rem;
    bottom: 0.41667rem;
    z-index: 2;
    filter: alpha(opacity=80);
    opacity: 0.8;
}
.product_item .product_box .product_img .product-sku .product-sku-size {
    color: #333;
    font-size: 1rem;
    line-height: 1.5rem;
    vertical-align: middle;
    text-align: center;
}

.product_item .product_box .product_img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.product_article{
    padding-bottom: 0.41667rem;
}
.product_article .product_name {
    padding-top: 0.58333rem;
    font-size: 1rem;
    display: block;
    overflow: hidden;
    line-height: 1.5;
    height: 3rem;
    overflow: hidden;
}
.product_article .product_name a {
    color: #222222;
}
.product_article .product_info {
    padding-top: 0.58333rem;
}
.product_article .product_info .product_price{
    font-size: 1.16667rem;
    color: #00bebf;
    float: left;
}
.product_article .product_info .product_country{
    font-size: 1rem;
    float: right;
    color: #888888;
}
.single_list_shop .more_shop {
    background-color: #F0F0F0;
    line-height: 3.83333rem;
    text-align: center;
    font-size: 1.25rem;
    color: #222222;
    margin-bottom:52px;
}
.single_list_shop .more_shop a {
    color: #222222;
}
.single_list_shop .more_shop .icon {
    color: #222222;
}
.icon {
    font-size: 2.08333rem;
    font-family: xidi;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

